extends layout

block content
  // Responsive navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='#') Red Bicicletas
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link(href='#') Nosotros
          li.nav-item
            a.nav-link(href='#') Contacto
         
  // Page content
  .container
    .text-center.mt-5
      h1 Red Bicicletas
      p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum minima laudantium non, dolore porro cumque quisquam iste. Repellendus enim voluptatum est, commodi distinctio iure totam incidunt quasi veniam ad quibusdam.

    #main_map
    
    br
    a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='/bicicletas') Comienza!

  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

  //map Script
  script(src='/js/map.js')
  

